<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/partials.css">
    <title>Footer | Bushiangala TTI</title>
</head>
<body>
    <div class="footer-top">
        <div class="footer-logo">

        </div> 
        <div class="footer-contact">
             
        </div>
        <div class="footer-location">

        </div>
        <div class="footer-resources">
            
        </div>
    </div>
</body>
</html>