<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/partials.css">
    <title>Header | Bushiangala TTI</title>
</head>
<body>
    <div class="header-navbar">
        <img src="./images/bushlogo.jfif" alt="bush logo">
        <a href="">Admissions</a>
        <a href="">Academics</a>
        <a href="">Departments</a>
        <a href="">Services</a>
        <a href="">Sports</a>
    </div>
</body>
</html>