 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home.css">
    <title>Home | Bushiangala TTI</title>
 </head>
 <body>
   <%- include('partials/header') %>
      <div class="home-page-main">
         <h1>Welcome!   Your Journey Begins..</h1>
         <div class="home-page-buttons">
            <button>Explore Programs</button>
            <button>Apply Now</button>
         </div>
      </div>
      <div class="home-second-page">
         <div class="second-page-left">
            <h2>Lorem, ipsum dolor.</h2>
            <h1>We're here for Your Sucess</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos magni reiciendis adipisci dolore, iusto quae laudantium esse aspernatur</p>
         </div>
         <div class="second-page-right"> 
            <!-- all links are subject to final edit -->
            <button>
               <h3>Student Center</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </button>
            <button>
               <h3>Departments</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </button>
            <button>
               <h3>Admissions</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </button>
            <button>
               <h3>Sports</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </button>
         </div>
      </div>




   <%- include('partials/footer') %>
    
 </body>
 </html>
